@import url('https://fonts.googleapis.com/css?family=Bevan|Changa');
@import url('https://fonts.googleapis.com/css?family=Lobster');
.img-circle {
    margin: 2%;
}

#myNavbar li a {
    font-family: 'Changa', sans-serif;
}

#myNavbar ul {
    padding-top: 2%;
}

.formaIma {
    justify-content: center;
    width: inherit;
    height: inherit;
}

.formaIma img {
    width: 370px;
}

#about .container .row .col-md-12 img {
    font-size: 37%;
    content: '$';
    left: 12%;
}

* {
    font-family: 'Lobster', cursive;
}

.icon {
    background-color: #c4e04e;
    color: white;
    width: 110px;
    height: 100px;
}

.fechas {
    justify-content:
}

#portfolio {
    background-color: azure;
}

.sponsor div {
    padding: 4%;
}

.iconos {
    padding: 6px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background: black;
    color: white;
}

#lorem {
    margin: 5%;
}

#send {
    margin: 3%;
}

#contact {
    padding: 7%;
}

#contact p {
    padding: 4%;
}
footer {
    padding: 3%;
    width: 100%;
    height: 20%;
    background-color: white;
    color: black;
    position: relative;
    bottom: 0;
}
.img-circle {
    border: 6px solid white;
}

#team {
    background-color: rgba(128, 128, 128, 0.11);
}

.input input,
.input textarea {
    border-radius: 5px;
    margin: 2%;
    padding: 4%;
    width: 95%;
    color: black;
}

#welcomePic h1 {
    font-size: 4em;
    font-family: 'Bevan', cursive;
}

#welcomePic button {
    background-color: #cc740e;
    color: white;
    font-family: 'Changa', sans-serif;
}

#portfolio h1,
p {
    font-family: 'Changa', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
    margin: 2%;
}

.navbar-header a {
    text-decoration-color: aquamarine;
    background-color: #fcf8f8;
    position: relative;
    font-size: 3em;
    left: 42px;
    margin-top: 13px;
}

#contact {
    background-image: url(../img/map-image.png);
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.welcome {
    background-image: url(../img/header-bg.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: #240101;
}

#welcomePic {
    color: white;
    position: absolute;
    right: 20%;
    top: 35%;
}

b {
    font-family: 'Changa', sans-serif;
}

.welcome .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.serviPri {
    margin: 4%;
}
